
:root{
    --primary-color: #0B2241;
}

body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.main {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
    margin-top:25px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); 
/*  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); more blueish*/
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    color: var(--primary-color);
}

.clubimage {
    max-width: 700px;
}

footer{
    text-align: center;
    color: white;
}

footer a {
    color: yellow;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
    text-decoration: underline;
}