
:root{
    --primary-color: #132C4B;
/*     #0B2241; */
}

body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.main {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    margin-top:50px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); 
/*  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); more blueish*/
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    color: var(--primary-color);
}

h1 {
    font-size: 48px;
    color: var(--primary-color);
}

h2 {
    font-size: 36px;
    color: var(--primary-color);
}

h3 {
    font-size: 30px;
    color: var(--primary-color);
    margin: 10px;
}

.paragraph {
    padding: 0 25px 10px 25px;
    font-size: 24px;
    color: var(--primary-color);
}

.paragraph a {
    color: #A00606;
    text-decoration: none;
}

.paragraph a:hover {
    color: #A00606;
    text-decoration: underline;
}

#clubimage {
    max-width: 800px;
}

#poi_2 {
    max-width: 500px;
    border-radius: 5px;
}


footer p {
    font-size: 18px;
    text-align: center;
    color: white;
    margin: 25px;
}

footer a {
    color: yellow;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
    text-decoration: underline;
}